<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>登录</title>
        <link rel="icon" href="http://cdn.static.123.com.cn/CloudStatic/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="PUBLIC/plugins/layui/css/layui.css" media="all" />
        <link rel="stylesheet" href="CSS_PATH/login.css" />
    </head>

    <body class="beg-login-bg">
        <div class="beg-login-box">
            <header>
                <h1>后台登录</h1>
            </header>
            <div class="beg-login-main">
                <form   action="/User/checkLogin"  class="layui-form" method="post">
         
                    <div class="layui-form-item">
                        <label class="beg-login-icon">
                            <i class="layui-icon">&#xe612;</i>
                        </label>
                        <input type="text" name="username" lay-verify="required"autofocus="autofocus"placeholder="这里输入登录名" class="layui-input">
                    </div>


                    <div class="layui-form-item">
                        <label class="beg-login-icon">
                            <i class="layui-icon">&#xe642;</i>
                        </label>
                        <input type="password" name="password" lay-verify="required" autocomplete="off" placeholder="这里输入密码" class="layui-input">
                    </div>


                    <div class="layui-form-item">
                        <label class="beg-login-icon">
                            <i class="layui-icon">&#x1002;</i>
                        </label>
                        <input style="width: 138px" type="text" name="code" lay-verify="required" autocomplete="off" placeholder="验证码" class="layui-input">

                        <img style="float: right;width: 122px;margin-top: -38px;cursor: pointer" onclick="this.src=this.src+'?'" src="/User/auth_code">

                    </div>


                    <div class="layui-form-item">                    
                        <div  style="text-align: center">
                            <button class="layui-btn  layui-btn-warm" lay-submit lay-filter="login" style="width: 100%">
                                <i class="layui-icon">&#xe650;</i> 登录
                            </button>
                        </div>
                        <div class="beg-clear"></div>
                    </div>
                </form>
            </div>
            <footer>
                <p> 2017 © 云掌财经·技术部</p>
            </footer>
        </div>
        <script type="text/javascript" src="PUBLIC/plugins/layui/layui.js"></script>
        <script>
            layui.use(['layer', 'form'], function () {
                var layer = layui.layer,
                        $ = layui.jquery,
                        form = layui.form();

                  
            });
        </script>
    </body>

</html>