<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>部门及岗位管理</title>
        <link rel="icon" href="http://cdn.static.123.com.cn/CloudStatic/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="PUBLIC/plugins/layui/css/layui.css" media="all" />
        <link rel="stylesheet" href="CSS_PATH/global.css" media="all">
        <link rel="stylesheet" href="PUBLIC/plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="CSS_PATH/table.css" />
        <link rel="stylesheet" href="CSS_PATH/page.css" />
    </head>

    <body>
        <div class="admin-main">

            <blockquote class="layui-elem-quote">
                <a href="__URL__/add_section.html" class="layui-btn layui-btn-small" id="add">
                    <i class="layui-icon">&#xe608;</i> 新增部门
                </a>


                    <form action="__URL__/section_manage" method="get" style="display: inline-block" class="layui-form">
                          
                        <div class="layui-form-item" style="margin-bottom: -12px;padding-left: 17px">
                            <div class="layui-input-inline">
                                <input name="search" value="{$search}" type="text" placeholder="搜索部门" autocomplete="off" class="layui-input" style="height: 30px;border-radius: 10px;line-height: 30px">
                            </div>

                            <div class="layui-input-inline">
                                <button style="height: 30px;border-radius: 10px;line-height: 30px;" class="layui-btn" lay-submit="" lay-filter="demo1">搜索</button>
                            </div>
                        </div>
                    </form>
            
            </blockquote>
            <span style="color: red">说明：点击岗位可修改,修改岗位时，清空岗位内容即为删除岗位</span>
            <div class="pages">{$page}</div>

            <fieldset class="layui-elem-field">
                <legend>部门及岗位列表</legend>
                <div class="layui-field-box">
                    <table class="site-table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>部门</th>
                                <th>岗位</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                   <notempty name='data'>
                        <volist name="data" id="row">
                            <if condition="$row['pid'] eq 0">
                                <tr>
                                    <td>{$row.id}</td>
                                    <td>{$row.job}</td>
                                    <td>
                                        <table class="site-table" style="border: none">
                                            <volist name="Job_data" id="v">
                                                <if  condition="($v['pid']  eq $row['id'])  AND ($v['job'] neq  '' ) ">
                                                    <tr>
                                                        <td  class="td" style="border: none">
                                                            <i class="layui-icon">&#xe612;</i>
                                                            <input type="hidden" value="{$v.id}" class="vid">
                                                            <input disabled="disabled" type="text" value="{$v.job}" class='job' style="border: none;
                                                             border-bottom: 1px solid #ddd;text-align: center;background-color: white;cursor: pointer;line-height: 22px;">
                                                        </td>

                                                    </tr>
                                                </if>
                                            </volist>
                                        </table>
                                    </td>
                                    <td>
                                        <a href="__URL__/add_job/id/{$row.id}"  class="layui-btn layui-btn-normal layui-btn-mini">添加岗位</a>
                                        <a href="{:U('Index/edit_section/id/'.$row['id'])}" class="layui-btn layui-btn-mini">编辑</a>
                                        <a href="{:U('Recruit/del_section/id/'.$row['id'])}" data-id="1" onclick="return confirm('确定将此记录删除?')" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
                                    </td>
                                </tr>
                            </if>
                        </volist>
                             <else/>
                                <td colspan="10"  style='text-align: center'>aoH! &nbsp;&nbsp;暂时没有内容</td>
                   </notempty>
                        </tbody>

                    </table>

                </div>
            </fieldset>
         
        </div>
        <script type="text/javascript" src="PUBLIC/plugins/layui/layui.js"></script>
        <script>
            layui.config({
                base: '/Public/plugins/layui/modules/'
            });

            layui.use(['layer','icheck'], function () {
                var $ = layui.jquery;
              
             
                  //后面就跟你平时使用jQuery一样
                  $('.td').each(function () {
                      
                        $(this).click(function(){
                            
                            $(this).children('.job').removeAttr('disabled');
                            
                        });
                        
                         $(this).children('.job').blur(function(){
                                   
                                  var  id = $(this).prev().val();  
                                  
                                  var  val =$(this).val();
                                  
                                 $(this).attr("disabled","disabled");
                                 
                                 $.ajax({
                                     
                                           type:"post",
                         
                                           url:"{:U('Recruit/edit_job')}",
                         
                                           data:{
                             
                                                   'id' :id,
                                                   'val':val
                                          },
                         
                                           dataType:"json",
                         
                                         success:function(data){
                            
                                             if(data){
                                                
                                                 layer.msg('修改成功');
                                                 
                                             }
                           
                                      
                           
                                          }
                                    
                                 });
    
                       });
                        
                        
                  });



            });
        </script>
    </body>

</html>