<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加管理员</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="http://cdn.static.123.com.cn/CloudStatic/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="PUBLIC/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="PUBLIC/plugins/font-awesome/css/font-awesome.min.css">
</head>
<body>
<div style="margin: 15px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>添加管理员</legend>
    </fieldset>

    <form class="layui-form" action="{:U('User/role')}" method="post">

        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label"><i style="color: red;font-size: 18px">*</i>&nbsp;用户</label>
                <div class="layui-input-inline">
                    <input type="tel" id="tel" name="username" lay-verify="required"  autofocus="autofocus" class="layui-input">
                </div>
            </div>

        </div>
        
        
        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label"><i style="color: red;font-size: 18px">*</i>&nbsp;密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" lay-verify="required" autocomplete="off" class="layui-input" id='psw_1'>
                </div>
            </div>
            
        </div>
        
           <div class="layui-form-item">

             <div class="layui-inline">
                <label class="layui-form-label"><i style="color: red;font-size: 18px">*</i>&nbsp;确认密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="repassword"  lay-verify="required" autocomplete="off" class="layui-input" id="psw_2">
                </div>
                 <span class="layui-btn layui-btn-small layui-btn-radius layui-btn-danger" id="psd_info" style="color: white;display: none;margin-bottom: -18px;height: 25px;
                line-height: 26px;">两次密码不一致！</span>
             </div>
            
           </div>
        
       
        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
                <input type="radio" name="rank" value="0" title="普通用户" checked>
                <input type="radio" name="rank" value="1" title="管理员" >
                <input type="radio" name="rank" value="2" title="超级管理员" >
            </div>
        </div>

        
        
        <div class="layui-form-item">
            
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">添加</button>
                <button type="reset" class="layui-btn layui-btn-primary" id="reset">重置</button>
            </div>
            
        </div>
        
        
    </form>
</div>
<script type="text/javascript" src="PUBLIC/plugins/layui/layui.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form(),
                $ = layui.jquery,
                layer = layui.layer,
                layedit = layui.layedit,
                laydate = layui.laydate;
                
     
        $('#psw_2').keyup(function(){

            if($('#psw_2').val()==$('#psw_1').val() & $('#psw_2').val()!=''){

                $('#psd_info').css({'display':'none'});

            }else{

                $('#psd_info').css({'display':''});
            }


            $('form').submit(function(){

                var val =$('#psw_1').val();

                var psd_val  =$('#psw_2').val();

                if(val != psd_val){

                    $('#psd_info').css({'display':''});

                    $('#psw_2').focus;

                    return false
                }

                return true

            })


        });


      $('#reset').click(function(){

          $('#tel').focus();

      })




    });
</script>
</body>

</html>